{% extends "email_base.html" %}

{% block email_columns %}1{% endblock %}
{% block email_summary %}Case has been assigned{% endblock %}

{% block content %}

<th style="{{ td_style }}{{ only_column_style }}">
  <h1 style="{{ h1_style }}">Case assignment</h1>
  <p style="{{ p_style }}">Hi {{ user }},</p>
  <p style="{{ p_style }}">
    You have been automatically assigned case #{{ case.id }}, {{ case.kind_display }} at
    {{ case.location_display }}, as you are the principal for {{ ward_name }}.
  </p>
  <p style="margin: 20px auto; text-align: center">
    <a style="{{ button_style }}" href="{{ url }}">See case details</a>
  </p>
</th>

{% endblock %}
