.case-id-badge {
    background-color: #00664f;
    color: #fff;
    display: inline-block;
    padding: 0.5em 1em;
    font-size: smaller;
    font-weight: bold;
}


.list-reporters {
    margin: 0;
    padding: 0;
}
.list-reporters li {
    background-color: #f8f8f8;
    list-style-type: none;
    padding: 0.5em;
}
.list-reporters p {
    margin: 0 0 0.5em;
}
.list-reporters p:last-child {
    margin-bottom: 0;
}
.list-reporters p.list-reporters__availability {
    color: #666;
}


ul.case-list-user {
    margin: 0;
    padding: 0;
}
ul.case-list-user li {
    list-style-type: none;
    padding-bottom: 1em;
    border-bottom: solid 2px #eee;
}

dl.inline {
    dt {
        display: inline;
        font-weight: normal;
        margin-right: 0.5em;
    }
    dd {
        display: inline;
        font-weight: bold;
        &:after {
            content: "\A"; white-space: pre;
        }
    }
}
