{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}

<div class="nw-panel">
    <h1 class="govuk-panel__title">Case logged</h1>
    <div class="govuk-panel__body">
        Case reference {{ case.id }}
    </div>
</div>

<h2>What happens next?</h2>

<p>...</p>

{% if request.user.is_staff %}
    <p><a href="{% url "case-view" case.id %}">Show the case log</a></p>
{% else %}
    <p><a class="nw-button nw-button--secondary" href="{% url "cases" %}">My cases</a>
    <p><a class="nw-button" href="{% url "accounts:sign-out" %}">Finish and leave service</a></p>
{% endif %}

{% endblock %}
