{% extends "base.html" %}

{% block content %}

<h1 class="govuk-heading-l">Report unwelcome noise</h1>

<section class="lbh-page-announcement">
  <h3 class="lbh-page-announcement__title">New reporting system: NoiseWorks</h3>
  <div class="lbh-page-announcement__content">
A new reporting system was launched 20th January 2022. It is available for you
to report ongoing or one-off noise. You will no longer be able to log updates
or add new reports on the former system. Reports made on the former system,
before 20 January 2022, will not be available to update in NoiseWorks.  Please
be assured that no data has been lost. If you reported noise on the former
system and you want to provide an update then you will need to report it via
the new system.
  </div>
</section>

<p class="govuk-body">You can report ongoing or one-off noise incidents using
the form on this page.

Or you can call 020 8356 3000 between 9am and 5pm Monday to Friday;
or 020 8356 4455 at any other time.

<p class="govuk-body">We have enforcement officers available during office
hours and the following:

<ul class="govuk-list govuk-list--bullet">
    <li>Thursday 6.30pm-2am
    <li>Friday 9pm-2am
    <li>Saturday 9pm-2am
    <li>Sunday 6.30pm-2am
</ul>

<p class="govuk-body">Please first read our
<a href="https://hackney.gov.uk/noise">noise guidance</a> to understand what we
can and can’t do about noise, and the types of noise that are considered
unwelcome.

<p class="govuk-body">Legal action is likely to only be taken when the noise is
ongoing. This is because the noise has to be deemed a ‘statutory nuisance’ that
materially affects the comfort of your home, ie loud enough to wake you up at
night regularly, or prevent you from concentrating during the day.

<p class="govuk-body">One-off incidents are unlikely to be considered for legal
action, however, you can still report them to the Council. An enforcement
officer may contact you for more details, and may visit the scene and serve an
abatement notice to stop the noise.

<p class="govuk-body">To report noise, you will need to provide us with:

<ul class="govuk-list govuk-list--bullet">
    <li>your address
    <li>your phone number
    <li>an idea of the source of the noise
</ul>

<p class="govuk-body">Your details are confidential unless court action is
necessary. Please note that anonymous complaints will not be taken as we need
to know who is affected by the problem.

<form action="{% url "case-report-existing-qn" %}" method="post">{% csrf_token %}
    <input type="submit" value="Start" name="get" class="nw-button">
</form>

{% endblock %}
