<div class="nw-tags">
    <span class="nw-tag nw-tag--id">{{ case.id }}</span>
  {% if case.priority %}
    <span class="nw-tag nw-tag--priority">Priority</span>
  {% endif %}
  {% if case.closed %}
    <span class="nw-tag nw-tag--closed">Closed</span>
  {% endif %}
  {% if case.merged_into %}
    <a href="{% url 'case-view' case.merged_into_final %}"><span class="nw-tag nw-tag--merged">Merged into {{ case.merged_into_final }}</span></a>
  {% endif %}
  {% if case.had_abatement_notice %}
    <span class="nw-tag nw-tag--warning">Abatement notice served</span>
  {% endif %}
</div>
