<a href="{% url "cases" %}?assigned={{ action.created_by.id }}" class="nw-link--no-visited-state">{{ action.created_by }}</a>

{% if action.type == "assigned" and action.old and action.new %}
    <span class="case-info">reassigned case #{{ case.id }} from</span>
    <a href="{% url "cases" %}?assigned={{ action.old.id }}" class="nw-link--no-visited-state">{{ action.old }}</a>
    <span class="case-info">to</span>
    <a href="{% url "cases" %}?assigned={{ action.new.id }}" class="nw-link--no-visited-state">{{ action.new }}</a>
{% elif action.type == "assigned" and action.new %}
    <span class="case-info">assigned case #{{ case.id }} to</span>
    <a href="{% url "cases" %}?assigned={{ action.new.id }}" class="nw-link--no-visited-state">{{ action.new }}</a>
{% elif action.type == "assigned" and action.old %}
    <span class="case-info">unassigned</span>
    <a href="{% url "cases" %}?assigned={{ action.old.id }}" class="nw-link--no-visited-state">{{ action.old }}</a>
    <span class="case-info">from case #{{ case.id }}</span>
{% elif action.type == "edit" %}
    <span class="case-info">edited case details</span>
{% elif action.case_old %}
    <span class="case-info">merged case #{{ action.case_old_id }} into
        case #{{ action.case_id }}
    </span>
{% elif action.type %}
    <span class="case-info">– {{ action.type.name }}, case #{{ action.case_id }}</span>
{% endif %}
