{% if case.last_update %}
  {% if case.last_update.complaint %}
    {{ case.last_update.complaint.created }} –
    <span class="citizen">{{ case.last_update.complaint.complainant }}</span>
    <span class="case-info">submitted a
    <a href="{% url "complaint" case.id case.last_update.complaint.id %}">complaint</a></span>
  {% else %}
    {{ case.last_update.action.time }} –
    {% include "cases/_case_action_summary.html" with action=case.last_update.action %}
  {% endif %}
{% else %}
    {{ case.created }} &ndash; initial case submitted
{% endif %}
