{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds static %}

{% block content %}

<div>
    <a href="{% url "case-view" case.id %}" class="nw-back-link">Cancel, back to case</a>
</div>

{% include "cases/_case_tags.html" with case=case %}
<h1 style="margin-top: 0">{{form_title}}</h1>

{% error_summary form %}
{% crispy form %}

<script>
(function() {
    let typeRadioButtons = document.querySelectorAll('input[type="radio"][name="type"]');
    let closePrompt = document.querySelector('div[name="close-prompt"]');
    if (!closePrompt || typeRadioButtons.length === 0) {
        return;
    }
    typeRadioButtons.forEach(function(rb) {
        rb.addEventListener('change', function(_) {
            let closeChecked = rb.checked && rb.value == {{ close_type_id }};
            closePrompt.hidden = !closeChecked;
        });
    });
})();
</script>

{% endblock %}
