{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds static %}

{% block content %}

<div>
    <a href="{% url "case-view" case.id %}" class="nw-back-link">Cancel, back to case</a>
</div>

{% include "cases/_case_tags.html" with case=case %}
<h1 style="margin-top: 0">{{form_title}}</h1>

{% error_summary form %}
{% crispy form %}

<script>
(function() {
    // HACK: Configure Dropzone to work as a field that gets submitted as part of the form
    // rather as a standalone form.
    Dropzone.options.actionDropzone = {
        url: ".",
        autoProcessQueue: false,  // Don't submit each time a file is added.
        uploadMultiple: true,
        addRemoveLinks: true,
        init: function() {
            let closure = this;

            let submitButton = document.querySelector('input[type="submit"]');
            if (!submitButton) {
                return;
            }

            // Use dropzones submit rather than the 'normal' submit.
            submitButton.addEventListener("click", function(e) {
                e.preventDefault();
                e.stopPropagation();
                closure.processQueue();
            });

            // Send all the form data along with the dropzone submit.
            this.on("sendingmultiple", function(data, xhr, formData) {
                formData.append("firstname", jQuery("#firstname").val());
                formData.append("lastname", jQuery("#lastname").val());
            });
        }
    }

    let typeRadioButtons = document.querySelectorAll('input[type="radio"][name="type"]');
    let closePrompt = document.querySelector('div[name="close-prompt"]');
    if (!closePrompt || typeRadioButtons.length === 0) {
        return;
    }
    typeRadioButtons.forEach(function(rb) {
        rb.addEventListener('change', function(_) {
            let closeChecked = rb.checked && rb.value == {{ close_type_id }};
            closePrompt.hidden = !closeChecked;
        });
    });
})();
</script>

{% endblock %}
