{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}

<h1>Cases</h1>

<ul>
{% for case in filter.qs %}
    <li>
        <a href="{% url 'case-view' case.id %}">
            <span class="case-id-badge">{{ case.id }}</span>
            <br>
            {{ case.kind_display }} at {{ case.location_display }}
        </a>
        <dl>
        <dt>Last action</dt>
        <dd>{{ case.last_action.created|timesince }} - {{ case.last_action|truncatewords:10 }}
        <dt>Assigned</dt>
        <dd>{{ case.assigned }}</dd>
        </dl>
    </li>
{% empty %}
    <li><p>No cases yet.</p></li>
{% endfor %}
</ul>

<h2>Filters</h2>

<div class="case-filters">
{% crispy filter.form %}
</div>

{% endblock %}
