{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1>Cases</h1>

      {% if qs %}
        {% include "cases/_pagination.html" %}
      {% endif %}

<ul class="nw-case-list">
{% for case in qs %}
    <li class="nw-case-list__item">
        <a href="{% url 'case-view' case.id %}" class="nw-case-list__header nw-link--no-visited-state">
            <span class="nw-tag--id">{{ case.id }}</span>
            <span class="case-list__title">{{ case.kind_display }} at {{ case.location_display }}</span>
        </a>
        <dl class="govuk-summary-list govuk-summary-list--no-border lbh-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last action</dt>
                <dd class="govuk-summary-list__value">{% if case.last_action %}
                    {{ case.last_action.created|timesince }} ago &ndash; {{ case.last_action|truncatewords:10 }}
                {% else %}
                    No actions
                    {% endif %}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Assigned</dt>
                <dd class="govuk-summary-list__value">{{ case.assigned|default:"No-one" }}</dd>
            </div>
        </dl>
    </li>
{% empty %}
    <li><p>No cases yet.</p></li>
{% endfor %}
</ul>

      {% if qs %}
        {% include "cases/_pagination.html" %}
      {% endif %}

    </div>
    <div class="govuk-grid-column-one-third">
        <h2>Filters</h2>

        <div class="case-filters">
        {% crispy filter.form %}
        </div>
    </div>
</div>

{% endblock %}
