{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% with request.session.merging_case as duplicate %}

{% if case.merged_into %}
<section class="nw-page-announcement nw-page-announcement--info">
    <div class="nw-page-announcement__content">
        This case has been merged into
        <a href="{% url "case-view" case.merged_into %}">case #{{ case.merged_into }}</a>.
    </div>
</section>
{% endif %}

{% if duplicate and case.id != duplicate.id %}
<div style="background-color: #ffe; padding: 1em 1em 0;">
<form action="{% url "case-merge" case.id %}" method="post">{% csrf_token %}
<input class="nw-button" type="submit" name="dupe" value="Merge {{ duplicate.name }} into this case" id="edit-form-submit">
<input class="nw-button nw-button--secondary" type="submit" name="stop" value="Stop looking for duplicates">
</form>
</div>
{% endif %}

<!--
<div>
    <a href="{% url "cases" %}" class="nw-back-link">Back to all cases</a>
</div>
-->

<p class="case-id-badge">{{ case.id }}</p>
<h1 style="margin-top: 0">{{ case.kind_display }} at {{ case.location_display }}</h1>

<h2>Case info</h2>

<dl>
    <dt>Type
    <dd>{{ case.kind_display }}
    <dt>Created
    <dd>{{ case.created|timesince }}
  {% if not case.merged_into %}
    <dt>Last action
    <dd>{{ case.last_action.created|timesince }} – {{ case.last_action }}
    <dt>Assigned
    <dd>{{ case.assigned }}
    <a href="{% url 'case-reassign' case.id %}" class="nw-link--no-visited-state">Change</a>
  {% endif %}
</dl>

{% if not case.merged_into %}
    <a href="{% url "case-log-action" case.id %}" class="nw-button">Log an action</a>
    {% if not duplicate and not case.merged_into %}
        <a href="{% url "case-merge" case.id %}" class="nw-button">Merge into another case</a>
    {% endif %}
{% endif %}

<h2>Noise source</h2>

<p>
{{ case.location_display }}
<br>House or shop? {{ case.get_where_display }}
<br>Hackney Estate? {{ case.get_estate_display }}
</p>

<h2>{% blocktranslate count counter=case.all_complainants|length trimmed %}
    Reporter{% plural %}Reporters
    {% endblocktranslate %}</h2>

<ul class="list-reporters">
{% for complainant in case.all_complainants %}
<li><p>
    <a href="">{{ complainant }}</a>
    {% blocktranslate count counter=complainant.num_cases with cases=complainant.num_cases trimmed %}
    ({{ cases }} case)
    {% plural %}
    ({{ cases }} cases)
    {% endblocktranslate %}

    {% if complainant.phone %}
    <br>{{ complainant.phone.as_national }}
    {% if complainant.phone_verified %} (verified){% endif %}
    {% endif %}
    {% if complainant.email %}
    <br>{{ complainant.email }}
        {% if complainant.email_verified %} (verified){% endif %}
    {% endif %}
    </p>
    <p>{{ complainant.address }}</p>
    <!-- <br>Ward -->
    <p class="list-reporters__availability">Available
    {% for time in complainant.get_best_time_display %}
    {% if not forloop.first %}{% if forloop.last %} or {% else %}, {% endif %}{% endif %}
    {{ time|lower }}{% empty %}<i>unknown</i>{% endfor %},
    by {{ complainant.get_best_method_display|default:"unknown"|lower }}
    </p>

{% endfor %}
</ul>

<h2>Timeline</h2>

{% if not case.merged_into %}
    <a href="{% url "case-log-action" case.id %}" class="nw-button">Log an action</a>
{% endif %}

<ol class="lbh-timeline">
<!-- lbh-timeline__event- -action-needed (grey box) -major (black filled) -minor (small filled) -gap-below (dotted line) -->
{% for entry in case.timeline_staff %}
<li class="lbh-timeline__event">
    <h3>{% if entry.complaint %}
    {{ entry.complaint.complainant }} submitted a <a href="{% url "complaint" case.id entry.complaint.id %}">complaint</a>
    {% else %}
    {{ entry.summary }}
    {% endif %}
    </h3>
    <p>{{ entry.time }}</p>
</li>
{% endfor %}
</ol>

{% endwith %}
{% endblock %}
