{% extends "base.html" %}

{% block content %}

<p><a href="{% url "cases" %}">&lsaquo; Back to all cases</a></p>

<p class="case-id-badge">{{ case.id }}</p>
<h1 style="margin-top: 0">{{ case.kind_display }} at {{ case.location_display }}</h1>

<h2>Case info</h2>

<dl>
    <dt>Type
    <dd>{{ case.kind_display }}
    <dt>Created
    <dd>{{ case.created|timesince }}
    <dt>Last action
    <dd>{{ case.modified|timesince }} - ???
    <dt>Assigned
    <dd>{{ case.assigned }}
    <a href="{% url 'case-reassign' case.id %}">Change</a>
</dl>

<a href="" class="govuk-button">Log an action</a>
<a href="" class="govuk-button govuk-button--secondary">Merge into another case</a>

<h2>Noise source</h2>

{{ case.location_display }}
<br>House or shop? {{ case.get_where_display }}
<br>Hackney Estate? {{ case.get_estate_display }}

<h2>Timeline</h2>

<a href="" class="govuk-button">Log an action</a>

...

{% endblock %}
