{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% with request.session.merging_case as duplicate %}

{% if case.merged_into %}
<section class="nw-page-announcement nw-page-announcement--info">
    <div class="nw-page-announcement__content">
        This case has been merged into
        <a href="{% url "case-view" case.merged_into %}">case #{{ case.merged_into }}</a>.
    </div>
</section>
{% endif %}

{% if duplicate and case.id != duplicate.id %}
<div style="background-color: #ffe; padding: 1em 1em 0;">
<form action="{% url "case-merge" case.id %}" method="post">{% csrf_token %}
<input class="nw-button" type="submit" name="dupe" value="Merge {{ duplicate.name }} into this case" id="edit-form-submit">
<input class="nw-button nw-button--secondary" type="submit" name="stop" value="Stop looking for duplicates">
</form>
</div>
{% endif %}

<!--
<div>
    <a href="{% url "cases" %}" class="nw-back-link">Back to all cases</a>
</div>
-->

<p class="nw-tag--id">{{ case.id }}</p>
<h1 style="margin-top: 0">{{ case.kind_display }} at {{ case.location_display }}</h1>

<h2 class="lbh-heading-h2 section-heading">Case info</h2>

<dl class="nw-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Type</dt>
    <dd class="govuk-summary-list__value">{{ case.kind_display }}</dd>
    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{% url "case-edit-kind" case.id %}">
        Change<span class="govuk-visually-hidden"> type</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Created</dt>
    <dd class="govuk-summary-list__value">{{ case.created|timesince }} ago</dd>
    <dd class="govuk-summary-list__actions"></dd>
  </div>
  {% if not case.merged_into %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Last action</dt>
    <dd class="govuk-summary-list__value">
        {{ case.last_action.created|timesince }} ago –
        {% include "cases/_case_action_summary.html" with action=case.last_action %}
    </dd>
    <dd class="govuk-summary-list__actions"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Assigned</dt>
    <dd class="govuk-summary-list__value">
      {% if case.assigned %}
        <a href="{% url "cases" %}?assigned={{ case.assigned.id }}" class="lbh-link lbh-link--no-visited-state">{{ case.assigned }}</a>
      {% else %}
        {{ case.assigned }}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link nw-link--no-visited-state" href="{% url "case-reassign" case.id %}">
        Change<span class="govuk-visually-hidden"> assignment</span>
      </a>
    </dd>
  </div>
  {% endif %}
</dl>

{% if not case.merged_into %}

    <a href="{% url "case-log-action" case.id %}" class="nw-button">Log an action</a>
    {% if not duplicate and not case.merged_into %}
        <a href="{% url "case-merge" case.id %}" class="nw-button nw-button--secondary">Merge into another case</a>
    {% endif %}
{% endif %}

<h2 class="lbh-heading-h2 section-heading">Noise Source</h2>

<div class="case-detail__map" id="map"><div id="leaflet"></div></div>

<dl class="nw-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Address</dt>
      <dd class="govuk-summary-list__value">
      <p class="govuk-body">{{ case.location_display }}
<p>House or shop? {{ case.get_where_display }}
{% if case.where == 'residence' %}
<p>Hackney Estate? {{ case.get_estate_display }}
{% endif %}
</p>
        <p class="text-smaller">{{ case.ward }} ward</p>

<div class="case-detail__map__overlay">
    <div aria-modal="true" role="dialog" tabindex="-1" aria-label="Case location" class="lbh-dialog">
        <h2 class="lbh-heading-h2 lbh-dialog__title">Noise source</h2>
        <div class="nw-dialog__contents">
            <p class="govuk-body">{{ case.location_display }}</p>
        </div>
        <!--
        <div class="lbh-dialog__actions">
        </div>
        -->
        <button class="lbh-dialog__close">
            <span class="govuk-visually-hidden">Close</span>
            <svg width="18" height="18" viewBox="0 0 13 13" fill="none"><path d="M-0.0501709 1.36379L1.36404 -0.050415L12.6778 11.2633L11.2635 12.6775L-0.0501709 1.36379Z" fill="#0B0C0C"></path><path d="M11.2635 -0.050293L12.6778 1.36392L1.36404 12.6776L-0.0501709 11.2634L11.2635 -0.050293Z" fill="#0B0C0C"></path></svg>
        </button>
    </div>
</div>

      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change
        </a>
        <div class="case-detail__map__button">
        <a href="#" class="nw-button nw-button--secondary">View on map</a>
        </div>
      </dd>
    </div>

<script>
var nw = nw || {};
(function(){
    var point = new L.LatLng({{ case.latitude|floatformat:-6 }}, {{ case.longitude|floatformat:-6 }});
    var map = nw.map = new L.Map("leaflet", {
        center: point,
        zoom: 17
    });
    map.zoomControl.setPosition('topright');
    map.attributionControl.setPrefix('');

    /*
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
		maxZoom: 19
    }).addTo(map);
    */
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        tileSize: 512,
        maxZoom: 19,
        zoomOffset: -1,
        id: 'mapbox/streets-v11',
        accessToken: 'pk.eyJ1IjoibGJoZWxld2lzIiwiYSI6ImNqeXJkN25uNjA5M3Uzb251bWVyejJ3YW8ifQ.uzO8I54w64U6QkNknW32FA'
    }).addTo(map);

  {% if case.uprn %}
    var mapIcon = L.icon({
      iconUrl: "/static/hackney/images/contact/map-marker.svg",
      iconSize: [48, 48],
      iconAnchor: [24, 48]
    });
    var marker = L.marker(point, { icon: mapIcon, interactive: false });
    map.addLayer(marker);
  {% else %}
    var circle = L.circle(point, { radius: {{ case.radius }}, color: '#00664f' });
    map.addLayer(circle);
    map.fitBounds(circle.getBounds());
  {% endif %}

})();
</script>

<!--
    <div class="govuk-summary-list__row govuk-summary-list__row--warning">
        <dt class="govuk-summary-list__key"><img src="/static/assets/images/avatar-warning.svg" class="icon-avatar-warning" alt=""></dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="#" class="lbh-link lbh-link--no-visited-state">Walter White (4 cases)</a> </p>
          <p class="govuk-body">07700 900123</p>
          <p class="text-smaller">(No email address)</p>
          <p class="govuk-body">Flat 5</p>
          <p class="govuk-body">
            2 Crosby Walk<br />
            E8 3DW
          </p>
          <p class="text-smaller">(Dalston Ward)</p>
          <p class="p-warning">Complex needs</p>

        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
-->
</dl>

<h2 class="lbh-heading-h2 section-heading">{% blocktranslate count counter=case.all_complainants|length trimmed %}
    Reporter{% plural %}Reporters
    {% endblocktranslate %}</h2>

<ul class="list-reporters">
{% for complainant in case.all_complainants %}
<li>

<dl class="nw-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list__row--lbh-grey-4">
        <dt class="govuk-summary-list__key"><img src="/static/assets/images/avatar.svg" class="icon-avatar" alt=""></dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="#" class="lbh-link lbh-link--no-visited-state">{{ complainant }}</a>
            {% blocktranslate count counter=complainant.num_cases with cases=complainant.num_cases trimmed %}
            ({{ cases }} case)
            {% plural %}
            ({{ cases }} cases)
            {% endblocktranslate %}
          </p>
        {% if complainant.phone %}
          <p class="govuk-body">{{ complainant.phone.as_national }}
            {% if complainant.phone_verified %} (verified){% endif %}
        {% endif %}
        {% if complainant.email %}
          <p class="govuk-body">{{ complainant.email }}
            {% if complainant.email_verified %} (verified){% endif %}
        {% endif %}
        <p class="govuk-body">{{ complainant.address_display }}</p>
          <p class="text-smaller">Available
            {% for time in complainant.get_best_time_display %}
            {% if not forloop.first %}{% if forloop.last %} or {% else %}, {% endif %}{% endif %}
            {{ time|lower }}{% empty %}<i>unknown</i>{% endfor %},
            by {{ complainant.get_best_method_display|default:"unknown"|lower }}
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
  </dl>

{% endfor %}
</ul>

<h2 class="lbh-heading-h2 section-heading">Timeline</h2>

<ol class="lbh-timeline">
<!-- lbh-timeline__event- -action-needed (grey box) -major (black filled) -minor (small filled) -gap-below (dotted line) -->
  {% if not case.merged_into %}
    <li class="lbh-timeline__event lbh-timeline__event--minor">
        <p class="lbh-body-m">Now</p>
        <a href="{% url "case-log-action" case.id %}" class="govuk-button lbh-button">Log an action</a>
    </li>
  {% endif %}
{% for entry in case.timeline_staff %}
<li class="lbh-timeline__event">
  {% if entry.complaint %}
    <span class="citizen">{{ entry.complaint.complainant }}</span>
    <span class="case-info">submitted a <a href="{% url "complaint" case.id entry.complaint.id %}">complaint</a></span>
        <details class="govuk-details lbh-details" data-module="govuk-details">
            <summary class="lbh-body govuk-details__summary">
              <span class="govuk-details__summary-text"> Complaint details </span>
            </summary>
            <div class="govuk-details__text">
                {{ complaint.happening_now|yesno:"Happening now,Not happening now" }},
                {{ complaint.happening_pattern|yesno:"to a pattern,not to a pattern" }}.
                {% if complaint.happening_pattern %}
                    {{ complaint.get_days_display|join:", " }};
                    {{ complaint.get_times_display|join:", " }}.
                {% elif complaint.happening_description %}
                    {{ complaint.happening_description }}.
                {% endif %}
                {{ complaint.more_details }}
            </div>
          </details>

    {% elif request.user.is_staff %}
        {% include "cases/_case_action_summary.html" with action=entry.action summary=entry.summary %}
        {% if entry.action.notes %}
            <details class="govuk-details lbh-details" data-module="govuk-details">
                <summary class="lbh-body govuk-details__summary">
                  <span class="govuk-details__summary-text"> Internal notes </span>
                </summary>
                <div class="govuk-details__text">
                    {{ entry.action.notes }}
                </div>
            </details>
        {% endif %}
    {% else %}
        {{ entry.summary }}
    {% endif %}
    <p class="lbh-body-m">{{ entry.time }}</p>
</li>
{% endfor %}
</ol>

{% endwith %}
{% endblock %}
