{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds humanize page_filter %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1>Cases</h1>

<ul class="nw-case-list">
{% for case in qs %}
    <li class="nw-case-list__item">
        <a href="{% url 'case-view' case.id %}" class="nw-case-list__header nw-link--no-visited-state">
            <span class="case-id-badge">{{ case.id }}</span>
            <span class="case-list__title">{{ case.kind_display }} at {{ case.location_display }}</span>
        </a>
        <dl class="govuk-summary-list govuk-summary-list--no-border lbh-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last action</dt>
                <dd class="govuk-summary-list__value">{% if case.last_action %}
                    {{ case.last_action.created|timesince }} &ndash; {{ case.last_action|truncatewords:10 }}
                {% else %}
                    No actions
                    {% endif %}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Assigned</dt>
                <dd class="govuk-summary-list__value">{{ case.assigned|default:"No-one" }}</dd>
            </div>
        </dl>
    </li>
{% empty %}
    <li><p>No cases yet.</p></li>
{% endfor %}
</ul>

<nav class="lbh-pagination">
    <div class="lbh-pagination__summary">Showing {{ qs.start_index }}—{{ qs.end_index }} of {{ qs.paginator.count|intcomma }} results</div>
  <ul class="lbh-pagination__list">
    {% if qs.has_previous %}
    <li class="lbh-pagination__item">
        <a class="lbh-pagination__link" href="?{% param_replace page=qs.previous_page_number %}" aria-label="Previous page">
        <span aria-hidden="true" role="presentation">&laquo;</span>
        Previous
      </a>
    </li>
    {% endif %}

    {% for i in qs.paginator.page_range %}
        {% if qs.number == i %}
            <li class="lbh-pagination__item">
                <a
                    class="lbh-pagination__link lbh-pagination__link--current"
                    href="#"
                    aria-current="true"
                    aria-label="Page {{ i }}, current page"
                  >
                  {{ i }}
                </a>
            </li>
        {% elif i > qs.number|add:'-3' and i < qs.number|add:'3' %}
            <li class="lbh-pagination__item">
                <a class="lbh-pagination__link" href="?{% param_replace page=i %}" aria-label="Page {{ i }}">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if qs.has_next %}
    <li class="lbh-pagination__item">
        <a class="lbh-pagination__link" href="?{% param_replace page=qs.next_page_number %}" aria-label="Next page">
        Next
        <span aria-hidden="true" role="presentation">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

    </div>
    <div class="govuk-grid-column-one-third">
        <h2>Filters</h2>

        <div class="case-filters">
        {% crispy filter.form %}
        </div>
    </div>
</div>

{% endblock %}
