{% extends "base.html" %}

{% block content %}

<div>
    <a href="{% url "case-view" case.id %}" class="nw-back-link">Back to case #{{ case.id }}</a>
</div>

<p class="nw-tag--id">{{ case.id }}</p>
<h1 style="margin-top: 0">{{ case.kind_display }} at {{ case.location_display }}</h1>

<h2>Complaint info</h2>

<dl class="nw-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Complaint created
    <dd class="govuk-summary-list__value">{{ complaint.created }}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Complainant
    <dd class="govuk-summary-list__value">{{ complaint.complainant }}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Noise started</dt>
    <dd class="govuk-summary-list__value">{{ complaint.start }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Ended</dt>
    <dd class="govuk-summary-list__value">
    {% if complaint.happening_now %}
        Still ongoing at
    {% endif %}
      {{ complaint.end }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Rooms affected
    <dd class="govuk-summary-list__value">{{ complaint.rooms }}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Noise description
    <dd class="govuk-summary-list__value">{{ complaint.description }}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Effect of noise
    <dd class="govuk-summary-list__value">{{ complaint.effect }}
  </div>
</dl>

{% endblock %}
