{% extends "base.html" %}

{% block content %}

<div>
    <a href="{% url "cases" %}" class="nw-back-link">Back to all cases</a>
</div>

<h1>Merge case</h1>

<div class="nw-merge-source">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h2>This case</h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <ul class="nw-case-list">
                {% include "cases/_case_list_item.html" %}
            </ul>
        </div>
    </div>
</div>

{% if cases_same_uprn or cases_nearby %}
    <p>Select a case to merge into, from the suggestions below, or <a class="nw-link--no-visited-state" href="{% url "cases" %}?assigned=">the list of all cases</a></p>
{% else %}
    <p>Select a case to merge into, from <a class="nw-link--no-visited-state" href="{% url "cases" %}?assigned=">the list of all cases</a></p>
{% endif %}

{% if case.uprn and cases_same_uprn %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2>Other cases at the same property</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <ul class="nw-case-list">
          {% for case in cases_same_uprn %}
            {% include "cases/_case_list_item.html" %}
          {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if cases_nearby %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2>Nearby cases</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <ul class="nw-case-list">
          {% for case in cases_nearby %}
            {% include "cases/_case_list_item.html" %}
          {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}
