{% extends "base.html" %}

{% block content %}

<h1>Staff users</h1>

{% if perms.accounts.add_user %}
    <a href="{% url "accounts:add" %}" class="nw-link--no-visited-state">Add staff user</a>
{% endif %}

<ul class="nw-list">
{% for user in users %}
<li>{% if perms.accounts.change_user %}
    <a href="{% url "accounts:edit" user.id %}" class="nw-link--no-visited-state">{{ user }}</a> ({{ user.get_wards_display }})
    {% else %}
    {{ user }} ({{ user.get_wards_display }})
{% endif %}</li>
{% endfor %}
</ul>

{% endblock %}
