.govuk-checkboxes--small {
    .govuk-checkboxes__item {
        margin-bottom: 0.5rem;
    }

    .govuk-label {
        margin-bottom: 0;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}

// The LBH styles make the spacing too big
.govuk-radios--small {
    .govuk-label {
        margin-top: -2px;
        margin-bottom: 0;
        line-height: inherit;
    }
}

// Line up the top of very long label with
// the top of the checkbox next to it.
#div_id_summary-true_statement label {
    margin-top: -0.3em; // compensate for line-height
    padding-top: 0;
}
