$lbh-global-styles: true;
$lbh-asset-path: "/static/hackney";
//$lbh-safely-embed: true;

@import "node_modules/lbh-frontend/lbh/all";

input[type=text]:disabled {
    color: #555;
    background-color: #eee;
    opacity: 1;
}

.nw-panel {
    @extend .govuk-panel;
    @extend .govuk-panel--confirmation;
    @extend .lbh-panel;
}
.nw-list {
    @extend .govuk-list;
    @extend .lbh-list;
}
.nw-list--bullet {
    @extend .govuk-list--bullet;
    @extend .lbh-list--bullet;
}
.nw-summary-list {
    @extend .govuk-summary-list;
    @extend .lbh-summary-list;
}
.nw-back-link {
    @extend .govuk-back-link;
    @extend .lbh-back-link;
}
.nw-button {
    @extend .govuk-button;
    @extend .lbh-button;
}
.nw-button--secondary {
    @extend .govuk-button--secondary;
    // This is a copy of the SASS for button--secondary
    // due to https://github.com/sass/libsass/issues/3162
    &, &:link, &:visited {
      @include lbh-rem(padding, 13, 22, 11);
      border: 1px solid lbh-colour("lbh-a01");
      color: lbh-colour("lbh-a01");
      background: lbh-colour("lbh-white");

      &:hover {
        color: lbh-colour("lbh-white");
        background: lbh-colour("lbh-primary-button");
      }

      &:disabled,
      &.lbh-button--disabled,
      &:hover[disabled],
      &.lbh-button--disabled:hover {
        opacity: 1;
        color: lbh-colour("lbh-grey-1");
        background: lbh-colour("lbh-secondary-disabled");
      }
    }

}
.nw-page-announcement { @extend .lbh-page-announcement; }
.nw-page-announcement--info { @extend .lbh-page-announcement--info; }
.nw-page-announcement__content { @extend .lbh-page-announcement__content; }

// Custom styles
@import "variables";
@import "colours";
@import "typography";
@import "forms";
@import "buttons";
@import "links";

@import "timeline";
@import "sections";
@import "merge.scss";
@import "person";
@import "tags";

span {
    font-family: $lbh-font-family;
}

// Footer

footer {
    background-color: lbh-colour("lbh-primary-hover");
    color: #fff;
    padding: govuk-spacing(6);
}

.noiseworks-footer {
    font-family: $lbh-font-family;
    margin-top: 1rem;

    @include govuk-media-query($from: tablet) {
        text-align: right;
        margin-top: 0.3rem; // vertically centred in footer, alongside Hackney logo
    }
}

a.platform-logo {
    vertical-align: -0.8em;
    display: inline-block;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto 1.8em;
    background-image: inline-image("noiseworks-logo-single-colour-light.png");
    width: 8em;
    height: 0;
    padding-top: 2em;
    overflow: hidden;
    margin-left: 0.5em;
    padding-right: 0.25em;
}

// Generic classes

dl {
    font-family: $lbh-font-family;
}
dt {
    font-weight: bold;
}
dd {
    //margin: 0 0 1em;
}

dl.inline {
    dt {
        display: inline;
        font-weight: normal;
        margin-right: 0.5em;
    }
    dd {
        display: inline;
        font-weight: bold;
        &:after {
            content: "\A"; white-space: pre;
        }
    }
}

// Case page

.case-detail__map {
    display: none;
    height: 400px;
    margin: 1rem 0;
    @include govuk-media-query($from: tablet) {
        display: block;
    }
    #leaflet {
        height: 100%;
    }
    * + * { margin-top: 0; } // XXX
}
.leaflet-marker-icon {
    cursor: grab;
}

.case-detail__map__button {
    @include govuk-media-query($from: tablet) {
        display: none;
    }
}

.case-detail__map__overlay {
  touch-action: none;
  display: none;
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  margin-top: 0;
  * + * { margin-top: 0; } // XXX
}
.lbh-dialog {
  box-sizing: border-box;
  margin: 1em auto;
  background: white;
  padding: 1rem;
  outline: none;
}

// Case list page

ul.case-list-user li {
    list-style-type: none;
    padding-bottom: 1em;
    border-bottom: solid 2px #eee;
}

.nw-case-list {
    list-style: none;
    border-top: solid 2px #ccc;
}

.nw-case-list__item {
    border-bottom: solid 2px #ccc;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 0;
}

.nw-case-list__empty {
    border-bottom: solid 2px #ccc;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;

    p + p {
        margin-top: 1em;
    }
}

.case-list__title {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.5em;
}

.case-filters {
    margin-top: 1rem;

    @include govuk-media-query($from: tablet) {
        padding-right: 1rem;
    }

    @include govuk-media-query($from: desktop) {
        padding-right: 2rem;
    }

    .lbh-select {
        width: 100%;
    }
}

// Fix uneven space around first and last pagination numbers.
.lbh-pagination__item {
    &:first-of-type a {
        padding: 0 5px 0 0;
    }

    &:last-of-type a {
        padding: 0 0 0 5px;
    }
}

// Merging menu
.lbh-merging-bar {
    background-color: rgba(lbh-colour("lbh-a01"), 0.28);
    padding: 1em 0;
    margin-top:-2.25rem;
    border: 1px solid rgba(lbh-colour("lbh-a01"), 0.36);
    border-top: none;

    form {
        margin-top:1rem;
    }

    @include govuk-media-query($from: tablet) {
        margin-top:-3.75rem;
    }

    .nw-button {
        margin-top:0.5rem;
        @include govuk-media-query($from: tablet) {
            margin-top:0;
        }
    }
}
