<h1 class="govuk-heading-l">Report an environmental health problem</h1>

<section class="lbh-page-announcement">
  <h3 class="lbh-page-announcement__title">Is this the right place?</h3>
  <div class="lbh-page-announcement__content">
    Text signposting Citizen's Advice, advice on mediation, what is and isn't
    a statutory issue.
  </div>
</section>

<p class="govuk-body">You can report ongoing or one-off environmental health
problems using the form on this page.

<p class="govuk-body">To report a problem, you will need to provide us with:

<ul class="govuk-list govuk-list--bullet">
    <li>your address
    <li>your phone number
    <li>an idea of the location of the problem
</ul>
