{% extends "_base.html" %}
{% load static i18n compress %}

{% block logo %}
    <a href="https://www.hackney.gov.uk/" id="site-logo">Hackney Council</a>
{% endblock %}

{% block footer %}
    <div class="hackney-footer">
        <div class="container">
            <a href="https://hackney.gov.uk/" alt="Hackney.gov.uk" class="hackney-footer__logo">Hackney</a>
            <p class="footer-powered-by">
                Powered by <a class="platform-logo" href="https://www.societyworks.org/services/noise/">NoiseWorks</a>
            </p>
        </div>
    </div>
{% endblock %}
