.govuk-checkboxes--small {
    .govuk-checkboxes__item {
        margin-bottom: 0.5rem;
    }

    .govuk-label {
        margin-bottom: 0;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}

// The LBH styles make the spacing too big
.govuk-radios--small {
    .govuk-label {
        margin-top: -2px;
        margin-bottom: 0;
        line-height: inherit;
    }
}

// Line up the top of very long label with
// the top of the checkbox next to it.
#div_id_summary-true_statement label {
    margin-top: -0.3em; // compensate for line-height
    padding-top: 0;
}

.lbh-input,
.lbh-textarea {
    &:not([class*="govuk-input--width"]) {
        max-width: 30rem;
    }
}

// Counteract margin-bottom on label, if followed immediately by hint
.lbh-label + .lbh-hint {
    margin-top: -6px;
    margin-top: -0.375rem
}

// No need for visible "Area" fieldset legend when the "Case location"
// select box has been inserted before it, by JavaScript.
#div_id_case_location + #div_id_ward {
    .govuk-fieldset__legend {
        @extend .govuk-visually-hidden;
    }

    .govuk-checkboxes {
        margin-top: 0;
    }
}